.register{
    
    height:100% !important;
    width: 100% !important;
    padding-bottom: 3rem !important;
    // font-size: larger !important;

    h1{
        width: 100% !important;
        text-align: center !important;
        font-size: xx-large !important;
        font-weight: bolder !important;
        color: white !important;
        margin-top: 2rem !important;
    }
    form{
        display: flex !important;
        flex-direction: column !important;
        max-width: 500px !important;
        min-width: 180px !important;
        margin: 0 auto !important;
        font-size: larger !important;
        font-weight: bold !important;

        input,select,textarea,div{
            width: 90%;
            display: block;
            outline: none;
            border: 0.25px solid gray;
            border-radius: 5px;
            margin: 0.5rem auto;
            padding: 10px;
            background-color: rgba(16, 25, 62, 0.766);
            color: white;
        }
        label{
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
            margin: -25px auto !important;
            background: transparent !important;
            img{
                border-radius: 50% !important;
                width: 70px;
                height: 70px;
            }
            .preImage{
                display: flex;
                flex-direction: column;
                width: 100%;
                p,svg{
                    margin: 5px auto;
                }
            }
        }
        div{
            border: none !important;
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            font-weight: bolder !important;
            background-color: transparent !important;
            .swap{
                background-color: transparent !important;
                border: none !important;
                color: white !important;
            }
            span{
                padding-top: 15px;
            }
        }
    }
}

.display_contact{
    min-width:200px;
    max-width: 300px;
    padding: 5px;
    max-height: max-content;
    background-color: rgba(16, 25, 62, 0.766);
    border-radius: 5px;
    margin: 10px 1rem;
    h3{
        width: 100%;
        text-align: center;
    }
    .italic{
        font-style: italic;
        width: 100%;
        text-align: right;
    }
}